{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h1 class="page__title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a class="hidden-link" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h1>
    {% if post.subtitle %}
    <h1 id="page-title" class="page__subtitle" itemprop="headline">{{ post.subtitle | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
    {% endif %}


    {% if post.date %}
    <p class="page__meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d %Y" }}</time>
    {% if post.read_time %}
      <!-- <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p> -->
      &middot {% include read-time.html %}
    {% endif %}
    </p>
    {% endif %}


    {% if post.excerpt %}
    <section class="archive__content">
        {{ post.content | truncatewords: 100, "..." }}
    </section>
    {% endif %}
  </article>
</div>
