{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <a class="hidden-link" href="{{ post.url | relative_url }}" rel="permalink">
    <h4 class="page__title" itemprop="headline">
            {{ title | strip}}<!-- remove space between title and :
         -->{% if post.subtitle %}: {{ post.subtitle | markdownify | remove: "<p>" | remove: "</p>" }}
            {% endif %}
    </h4>


    {% if post.date %}
    <p class="page__meta" style="text-align:left">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d %Y" }}</time>
    {% if post.read_time %}
      <!-- <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p> -->
      &middot {% include read-time.html %}
    {% endif %}
    </p>
    {% endif %}

    {% if post.summary %}
    <section class="page__content">
        {{ post.summary | markdownify}}
    </section>
    </a>

    {% endif %}
  </article>
</div>
