// unformatted text blocks
pre {
    font-size: $type-size-7;
    display: inline;
    margin: 0; // remove trailing linebreak
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.card-body {
    padding: 0.5em; // smaller card spacer than default
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

// buttons
.btn-toolbar {
    padding-left: 0;
    padding-right: 0;
    padding: 0;
}

.btn-bib {
    font-size: 0.7em;
    color: $primary-color;
    // background-color: transparent;
    text-transform: lowercase;
    border: 1px solid lightgray;
    margin-right:5px;
    height: 2.0em;
    text-align: center;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.btn-share {
    padding: 0 0.05em;
    font-size: 1em;

    color: $info-color;

    &:visited {
      color: $info-color;
    }
}

// default colours override
.social-icons {
    .fas,
    .fab,
    .far,
    .fal,
    .fa-linkedin,
    .fa-twitter,
    .fa-github {
      color: $text-color;
    }
}

// invisible links - no highlight unless hovered over, no underline
a.hidden-link {
    &:link,
    &:visited {
        color: $primary-color;
        text-decoration: none;
    }

    &:hover {
        color: $link-color-hover;
    }
}

.ftlink {
    font-size: 2em;
    color: red;
}


blockquote {
    border-left: none; // 5px solid #eee;
    // max-width: 550px;
    text-align: left;
    margin: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: $focus-color;
    // border-top: 2px dotted $link-color-hover;
    // border-bottom: 2px dotted $link-color-hover;
}

// image border
.bordered {
  border: 1px solid #ddd;
  border-radius: $border-radius;
  padding: 5px;
  margin: 10px;
}

.carousel {
    data-interval: 500;
    margin: 0 auto;
    width: 80%;
}

.carousel img {
     margin: auto;
}
