// unformatted text blocks
pre {
   display: inline;
   margin: 0; // remove trailing linebreak
   overflow-x: auto;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}

.card-body {
  padding: 0.5em; // smaller card spacer than default
}
