---
---
{{reference}}

<!-- Buttons -->
<div class="btn-toolbar">

  {% if entry.abstract %}
  <button class="btn btnId btnPub--abstract" type="button" data-toggle="collapse" data-target="#{{entry.key}}-collapseAbstract" aria-expanded="false" aria-controls="collapseExample">
    Abstract
  </button>
  {% endif %}

  <button class="btn btnId btnPub--bib" type="button" data-toggle="collapse" data-target="#{{entry.key}}-collapseBibtex" aria-expanded="false" aria-controls="collapseExample">
    Bib
  </button>

  {% if entry.file %}
  <button class="btn btnId btnPub--file" type="button" onclick="window.location.href='/assets/pdf/{{entry.file}}.pdf'">
    PDF
  </button>
  {% endif %}

  {% if entry.url %}
  <button class="btn btnId btnPub--url" type="button" onclick="window.location.href='{{entry.url}}'">
    Web
  </button>
  {% endif %}

</div>


<!-- Dropdowns -->
<div class="collapse" id="{{entry.key}}-collapseBibtex">
    <div class="card card-body" id="{{key}}-bibtex">
        <pre>{{entry.bibtex}}</pre>
    </div>
</div>

<div class="collapse" id="{{entry.key}}-collapseAbstract">
    <div class="card card-body" id="{{key}}-abstract">
        <pre>{{entry.abstract}}</pre>
    </div>
</div>
